.mui-1bs7ig6{
    display: none!important;
}
.mui-kqowt2-MuiList-root{
    display: none;
}

/* .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-dense.MuiMenuItem-gutters.Mui-selected.MuiMenuItem-root.MuiMenuItem-dense.MuiMenuItem-gutters.Mui-selected.mui-19qa4ym-MuiButtonBase-root-MuiMenuItem-root{
    display: none;
} */

/* .MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-dense.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-dense.MuiMenuItem-gutters.mui-19qa4ym-MuiButtonBase-root-MuiMenuItem-root{
    display: none;
} */